.table-wrapper {
  background-color: white;
  font-size: 16px;
  padding: 0;
  position: relative;
}

.table-header {
  color: rgb(235, 67, 67) !important;
  position: sticky;
}

.text-color {
  color: red;
}